.about {
	background-color: #f2f1ff;
	
	&__wrapper {
		
	padding-top: 100px;
	@media (max-width: $md3+px) {
		padding-top: 47px;
	}
	@media (max-width: $md5+px) {
		padding-top: 18px;
	}
		
	}
	._container{
		position: relative;
		.lines {
			z-index: 1;
			span {
				height: 100%;
				width: 1px;
				background-color: #212122;
				opacity: 0.05;
			}
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		margin-bottom: 55px;
		@media (max-width: $md3+px) {
			margin-bottom: 30px;
		}
		@media (max-width: $md5+px) {
			margin-bottom: 0px;
		}
	}
	&__cards {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
		@media (max-width: $md1+px) {
		  flex-wrap: wrap;
		}
	}
}

.cards {
	&__item {
		flex: 0 1 29%;
		flex: 0 1 calc(33.333% - 30px);
		margin: 0 15px;
		padding: 57px 50px 60px 50px;
		box-shadow: 0 45px 40px rgba(195, 201, 236, 0.3);
		border-radius: 6px;
		background-color: #ffffff;
		@media (max-width: $md1+px) {
			flex: 1 1 44%;
			flex: 1 1 calc(50% - 30px);
			margin: 0 15px 30px 15px
		}
		@media (max-width: $md3+px) {
			flex: 1 1 95%;
			flex: 1 1 calc(100% - 30px);
			padding: 47px 40px 50px 40px;
		}
		@media (max-width: $md4+px) {
			margin: 0 15px 10px 15px;
			padding: 37px 35px 40px 30px;
		}
		@media (max-width: $md5+px) {
			padding: 30px 30px 30px 25px;
		}
	}

	&__title {
		color: #ef453f;
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 16px;
		@media (max-width: $md5+px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 10px;
		}
	}

	&__desr {
		opacity: 0.9;
		color: #212122;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.2px;
		@media (max-width: $md5+px) {
			font-size: 12px;
			line-height: 20px;
		}
	}
}
