.discount {
	background: url('../img/discount/bg.png') center / cover no-repeat;
	position: relative;
	@media (max-width: $md3+px) {
		background: url('../img/discount/bg-mob.png') center / cover no-repeat;
	}
	&:after{
		content: '';
		position: absolute;
		display: block;
		width: 150px;
		height: 124px;
		top: -55px;
		left: 30px;
		background: url('../img/discount/1.png') center / cover no-repeat;
		@media (max-width: $md5+px) {
			width: 100px;
			height: 80px;
			top: -24px;
			left: -23px;
		}
	}
	&:before{
		content: '';
		position: absolute;
		display: block;
		width: 207px;
		height: 166px;
		right: 0px;
		bottom: 45px;
		background: url('../img/discount/2.png') center / cover no-repeat;
		@media (max-width: $md4+px) {
			width: 157px;
			height: 116px;
			
		}
		@media (max-width: $md5+px) {
		 display: none;
		}
	}
	.lines {
	
		z-index: 1;
		span {
			height: 100%;
			width: 1px;
			background-color: #fff;
			opacity: 0.05;
		}
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 106px 0 95px 0;
		@media (max-width: $md1+px) {
			padding: 86px 0 75px 0;
		}
		@media (max-width: $md2+px) {
			padding: 66px 0 55px 0;
		}
		@media (max-width: $md3+px) {
		  display: block;
		  padding: 86px 20px 75px 20px;
		}
		@media (max-width: $md5+px) {
		   padding: 45px 7px 48px 7px;
		}
	}

	&__text {
		flex: 0 1 60%;
	}

	&__timer {
		flex: 0 1 40%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0 -30px;
		position: relative;
		z-index: 2;
		@media (max-width: $md3+px) {
			justify-content: flex-start;
			margin: 0 -30px 20px -30px;
		}
		@media (max-width: $md5+px) {
			margin: 0 -10px 34px -10px;
		}

	}
}

.text-discount {

	&_descr {
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		margin-bottom: 70px;
		span {
			display: block;
			@media (max-width: $md1+px) {
			  display: inline;
			}
		}
		@media (max-width: $md1+px) {
		  padding-right: 15px;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 40px;
		}
		@media (max-width: $md5+px) {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 47px;
		}
	}

	&__title {
		color: #ffffff;
		font-size: 45px;
		font-weight: 700;
		line-height: 65px;
		margin-bottom: 28px;
		span {
			letter-spacing: 0.5px;
			color: #fff;
			&:first-child {
				display: block;
			}
			&:last-child{
				color: #f24841;
				
			}
		}
		@media (max-width: $md1+px) {
		  width: 200%;
		}
		@media (max-width: $md2+px) {
		  width: 250%;
		}
		@media (max-width: $md3+px) {
			width: 100%;
			font-size: 35px;
			line-height: 50px;
		}
		@media (max-width: $md4+px) {
		 display: none;
		}
		&_mobile{
			display: none;
			@media (max-width: $md4+px) {
				font-size: 30px;
				line-height: 40px;
			 display: block;
			 span {
				 display: block;
			 }
			}
			@media (max-width: $md5+px) {
				font-size: 24px;
				font-weight: 600;
				line-height: 36px;
				margin-bottom: 17px;
			}
		}
	}

	&__btn {
		display: inline-block;
		margin-bottom: 50px;
		padding: 21px 80px 21px 80px;
		&:before{
			position: absolute;
			content: '';
			top: 15px;
			right: -25px;
			width: 81px;
			height: 71px;
			background: url('../img/header/plane.png') center center/cover no-repeat;
			z-index: 3;
			@media (max-width: $md2+px) {
				top: 15px;
				right: -18px;
				width: 80px;
				height: 71px;
			}
			@media (max-width: $md4+px) {
				top: 35px;
				right: -13px;
				width: 68px;
				height: 61px;
			}
		}
		@media (max-width: $md5+px) {
			margin-bottom: 40px;
			font-size: 16px;
			padding: 21px 79px 21px 79px;
		}
	}

	&__btn-descr {
		position: relative;
		opacity: 0.49;
		color: #ffffff;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		display: flex;
		justify-content: center;
		&-wrapper  {
			position: relative;
			flex: 0 1 34%;
			span {
				&:first-child{
					display: block;
				}
				&:last-child {
					font-weight: 600;
				}
			}
			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 58px;
				height: 40px;
				top: -23px;
				left: -67px;
				background: url('../img/discount/arrow.png') center / cover no-repeat;
				@media (max-width: $md3+px) {
					display: none;
					// left: auto;
					// right: 110px;
					// background: url('../img/discount/arrow-mob.png') center / cover no-repeat;
				}
			}
			@media (max-width: $md1+px) {
				flex: 0 1 37%;
			}
			@media (max-width: $md2+px) {
				flex: 0 1 50%;
				transform: translateX(150px);
			}
			@media (max-width: $md3+px) {
				flex: 0 1 100%;
				transform: translateX(0px);
			}
			
		}
		@media (max-width: $md1+px) {
		  justify-content: flex-end;
		}
		@media (max-width: $md3+px) {
			justify-content: flex-start;
			width: 500px;
			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 58px;
				height: 45px;
				top: -23px;
				right: 250px;
				background: url('../img/discount/arrow-mob.png') center / cover no-repeat;
			}
		}
		@media (max-width: $md5+px) {
			font-size: 10px;
		}
	}
}
.timer {

	&__square {
		position: relative;
		margin: 0 30px;
		&_items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 -6px 15px -6px;
			@media (max-width: $md5+px) {
				margin: 0 -2px 0px -2px;
			}
			
			span {
				display: block;
				flex: 0 1 45%;
				flex: 0 1 calc(50% - 12px);
				margin: 0 6px 4px 6px;
				width: 150px;
				height: 60px;
				border-radius: 3px;
				&:nth-child(1), &:nth-child(2) {
					background-image: linear-gradient(to top, #f24841 0%, #ff847f 100%);
					position: relative;
					&:after{
						content: '';
						position: absolute;
						display: block;
						width: 85%;
						height: 4px;
						bottom: 0;
						left: 50%;
						transform: translate(-50%, 100%);
						background-color: #1b191c;
						z-index: 1;
					}
				}
				&:nth-child(3), &:nth-child(4) {
					background-image: linear-gradient(to top, #a4120c 0%, #f24841 100%);
				}
				@media (max-width: $md2+px) {
					height: 45px;
				}
				@media (max-width: $md4+px) {
				 height: 37px;
				}
				@media (max-width: $md5+px) {
					height: 38px;
				}
				@media (max-width: $md5+px) {
					flex: 0 1 calc(50% - 4px);
					margin: 0 2px 4px 2px;
				}
			}
			@media (max-width: $md2+px) {
			  width: 130px;
			}
			@media (max-width: $md4+px) {
			 width: 115px;
			}
			@media (max-width: $md5+px) {
				width: 93px;
			}

		}
		&:after{
			content: ':';
			position: absolute;
			display: block;
			width: 7px;
			height: 100%;
			top: 10%;
			right: -30px;
			color: #ffffff;
			font-size: 80px;
			font-weight: 500;
			@media (max-width: $md2+px) {
				font-size: 60px;
			}
			@media (max-width: $md4+px) {
				font-size: 50px;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		@media (max-width: $md5+px) {
			margin: 0 10px;
		}
	}

	&__descr {
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		text-align: center;
		@media (max-width: $md5+px) {
			font-size: 16px;
		}
	}

	&__digit {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -61%);
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			display: block;
			color: #ffffff;
			font-family: 'B612 Mono';
			font-size: 80px;
			font-weight: 700;
			text-align: center;
			line-height: 128px;
			letter-spacing: 30px;
			transform: translateX(15px);
			position: relative;
			@media (max-width: $md2+px) {
				font-size: 60px;
			}
			@media (max-width: $md4+px) {
				font-size: 50px;
				letter-spacing: 27px;
			}
			@media (max-width: $md5+px) {
				letter-spacing: 17px;
				transform: translateX(8px);
				font-weight: 400;
			}
		}
		@media (max-width: $md2+px) {
			transform: translate(-50%, -63%);
		}
		@media (max-width: $md4+px) {
			transform: translate(-50%, -65%);
		}
		
	}
}
