.feedback {
	background-color: #f2f1ff;
	
	._container {
		
	}
	._container{
		position: relative;
		.lines {
			z-index: 1;
			span {
				height: 100%;
				width: 1px;
				background-color: #212122;
				opacity: 0.05;
			}
		}
	}
	&__wrapper {
		padding: 175px 20px 80px 20px;
		@media (max-width: $md3+px) {
			padding: 125px 20px 80px 20px;
		}
		@media (max-width: $md4+px) {
			padding: 75px 0px 40px 0px;
		}
		@media (max-width: $md5+px) {
			padding: 55px 0px 0 0px;
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		margin: 0 0 82px 30px;
		
		@media (max-width: $md4+px) {
			margin-bottom: 42px;
			line-height: 50px;
		}
		@media (max-width: $md5+px) {
			line-height: 30px;
			margin: 0 0 22px 10px;
		}
	}

	&__slider {
		position: relative;
		z-index: 2;
		margin: 0 -56px;
		@media (max-width: $md1+px) {
			margin: 0 -47px;
		}
		@media (max-width: $md3+px) {
			margin: 0 -45px;
		}
		@media (max-width: $md4+px) {
			margin: 0 -6px;
		}
		@media (max-width: $md5+px) {
			margin: 0 -8px;
		}
	}
	&__arrows {
		@media (max-width: $md1+px) {
		  display: none;
		}
	}
}

.slider {

	&__slide  {
		display: flex;
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 150%;
	}
	&__wrapper {
		@media (max-width: $md1+px) {
			display: flex;
			padding-bottom: 100px;
		}
		@media (max-width: $md4+px) {
			padding-bottom: 70px;
		}
		@media (max-width: $md5+px) {
			padding-bottom: 70px;
		}
	}
}
.slide {

	&__card-slide {
		// margin: 0 15px 50px 15px;
		flex: 0 1 45%;
		flex: 0 1 calc(50% - 55px);
		padding: 50px 120px 70px 40px;
		display: flex;
		box-shadow: 0 45px 40px rgba(195, 201, 236, 0.3);
		border-radius: 6px;
		background-color: #ffffff;
		&:nth-child(odd){
			margin: 0px 15px 50px 40px;
			@media (max-width: $md1+px) {
			  margin: 0px 0px 0px 0px;
			}
		}
		&:nth-child(even){
			margin: 0px 40px 50px 15px;
			@media (max-width: $md1+px) {
			  margin: 0px 0px 0px 0px;
			}
		}
		@media (max-width: $md1+px) {
			flex: 1 1 auto;
			flex: 1 1 auto;
			margin: 0 30px !important;
		}
		@media (max-width: $md4+px) {
			padding: 38px 45px 38px 15px;
			margin: 0 10px !important;
		}
		@media (max-width: $md5+px) {
			padding: 38px 45px 28px 15px;
		}
	}
}
.card-slide {

	&__date {
		margin-right: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md4+px) {
		 margin-right: 10px;
		}
	}

	&__text {
		position: relative;
		&:after{
			content: '"';
			position: absolute;
			display: block;
			bottom: -23px;
   		right: -99px;
			opacity: 0.1;
			color: #1b191c;
			font-family: "ENGR";
			font-size: 250px;
			font-weight: 400;
			line-height: 24px;
			@media (max-width: $md4+px) {
				font-size: 150px;
				bottom: -11px;
    			right: -64px;
			}
			
		}
	}

	&__title {
		color: #f24841;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 18px;
		@media (max-width: $md4+px) {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	&__descr {
		opacity: 0.9;
		color: #1b191c;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 15px;
		@media (max-width: $md4+px) {
			font-size: 12px;
			line-height: 20px;
		}
	}

	&__stars {
		width: 100px;
		img{
			width: 100%;
		}
	}
}

.date {

	&__digit {
		flex: 0 1 30%;
		width: 20px;
		
		span {
			display: block;
			transform: translateY(10px) rotate(90deg);
			opacity: 0.9;
			color: #1b191c;
			font-size: 12px;
			font-weight: 500;
		}
		
	}

	&__decor {
		flex: 0 1 60%;
		width: 1px;
		height: 100%;
		background-color: #1b191c;
		opacity: 0.3;
	}
}


.arrows {

	&__right {
		right: 50px;
	}

	&__left {
		left: -50px;
	}
}

.arrows {

	&__arrow {
		position: absolute;
		top: 44.5%;
		transform: translateY(-50%);
		width: 36px;
		height: 25px;
		cursor: pointer;
		img {
			width: 100%;
		}
		&_right {
			right: -20px;
			@media (max-width: 1665px) {
				right: 0px;
			}
		}

		&_left {
			transform: translateY(-50%) rotate(180deg);
			left: -20px;
			@media (max-width: 1665px) {
				left: 0px;
			}
		}
	}
}
.tns-item{
	display: inline-flex !important;
	padding-bottom: 50px;
}
.tns-nav{
	display: flex;
	height: 4px;
	border-radius: 2px;
	background-color: rgba(27, 25, 28, 0.2);
	width: 15%;
	margin: 0 auto;
	transform: translateY(-43px);
	@media (max-width: $md2+px) {
	  width: 30%;
	}
	@media (max-width: $md4+px) {
		transform: translateY(-53px);
		width: 40%;
	}
	@media (max-width: $md5+px) {
		transform: translateY(-53px);
	 width: 60%;
	}
	button {
		height: 4px;
		flex: 1 1 100%;
		border-radius: 2px;
		background-color: rgba(27, 25, 28, -0.8);
	}
}
.tns-nav-active{
	background-color: rgba(242, 72, 65, 1) !important;
}
.tns-outer > button{
display: none;
}


