.footer {
	background-color: #f2f1ff;
	&__wrapper {
		padding: 81px 0 91px 0;
		display: flex;
		justify-content: space-between;
		@media (max-width: $md1+px) {
			padding: 61px 0 61px 0;
		}
		@media (max-width: $md2+px) {
			padding: 51px 0 51px 0;
		}
		@media (max-width: $md3+px) {
			padding: 41px 15px 41px 15px;
		}
		@media (max-width: $md4+px) {
		 display: block;
		 padding: 50px 15px 51px 15px;
		}

	}

	&__column {
		flex: 0 1 25%;
		@media (max-width: $md1+px) {
			flex: 0 1 30%;
		}
		@media (max-width: $md2+px) {
			flex: 0 1 50%;
		}
	}
}

.logo-footer {

	&__logo{
		margin-bottom: 72px;
		@media (max-width: $md2+px) {
			margin-bottom: 32px;
		}
		@media (max-width: $md4+px) {
		display: flex;
		justify-content: center;
		margin-bottom: 12px;
		}
		@media (max-width: $md5+px) {
			justify-content: flex-start;
			margin-bottom: 0px;
		}
	}
	&__right {
		span {
			opacity: 0.9;
			color: #000000;
			font-size: 18px;
			font-weight: 500;
			line-height: 65px;
			&:last-child{
				padding-left: 30px;
				@media (max-width: $md1+px) {
					padding-left: 10px;
				}
			}
			@media (max-width: $md4+px) {
				font-size: 16px;
				line-height: 16px;
			}

		}
		@media (max-width: $md4+px) {
		 text-align: center;
		}
		@media (max-width: $md5+px) {
			text-align: left;
		}
	}
	
	.header {

		&__logo {
		}
	
		&__img {
		}
	
		&__text {
		}
	
		&__title {
			color: #1b191c;
			font-weight: 600;
		}
	
		&__descr {
			opacity: 0.9;
			color: #1b191c;
			font-size: 12px;
			font-weight: 600;
		}
	}
}

.nav-footer {

	margin-left: 100px;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			flex: 0 1 50%;
			margin-bottom: 23px;
		}
	}

	&__link {
		color: #f24841;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		@media (min-width: 1200px) {
			&:hover {
				font-weight: 600;
			}
		 }
	}
	@media (max-width: $md2+px) {
	  display: none;
	}
}
.policy-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
		&__btn {
			display: inline;
			padding: 17px 87px 17px 87px;
			@media (max-width: $md4+px) {
				padding: 10px 51px 10px 51px;
			}
		}

		&__text {
		}
		.nav {

			&__policy {
				color: #000000;
				font-weight: 500;
				&:after{
					background-color: #000000;
					bottom: 22px;
				}
				@media (max-width: $md4+px) {
				 margin-bottom: 5px;
				}
			}
		}
		@media (max-width: $md4+px) {
			align-items: center;
		}
		@media (max-width: $md5+px) {
			align-items: flex-start;
		}
}


