.guarantee {
	background-color: #f2f1ff;
	&__wrapper {
		padding-top: 105px;
		@media (max-width: $md2+px) {
			padding-top: 80px;
		}
		@media (max-width: $md3+px) {
			padding-top: 60px;
		}
		@media (max-width: $md4+px) {
			padding-top: 36px;
		}
	}
	._container{
		position: relative;
		.lines {
			z-index: 1;
			span {
				height: 100%;
				width: 1px;
				background-color: #212122;
				opacity: 0.05;
			}
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		margin-bottom: 62px;
		@media (max-width: $md3+px) {
			margin-bottom: 42px;
		}
		@media (max-width: $md5+px) {
			margin-bottom: 16px;
			line-height: 36px;
		}

	}

	&__cards-guarantee {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
		@media (max-width: $md1+px) {
		  flex-wrap: wrap;
		}
		
	}
}


.cards-guarantee {

	&__item {
		flex: 0 1 29%;
		flex: 0 1 calc(33.333% - 30px);
		margin: 0 15px;
		padding: 50px 95px 60px 100px;
		box-shadow: 0 45px 40px rgba(195, 201, 236, 0.3);
		border-radius: 6px;
		background-color: #ffffff;
		position: relative;
		& > span{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
			&:after{
				content: '01';
				position: absolute;
				display: block;
				opacity: 0.1;
				color: #1b191c;
				font-size: 80px;
				font-weight: 700;
				line-height: 28px;
				top: 60px;
				left: -24px;
				@media (max-width: $md2+px) {
					font-size: 60px;
					left: -17px;
				}
				@media (max-width: $md5+px) {
					font-size: 50px;
					left: auto;
					right: 0;
				}
			}
		}
		&:nth-child(2) {
			& > span {
				&:after{
					content: '02'
				}
			}
			&:after{
				background: url('../img/guarantee/2.png') center / cover no-repeat;
			}
		}
		&:last-child {
			& > span {
				&:after{
					content: '03'
				}
			}
			&:after{
				background: url('../img/guarantee/3.png') center / cover no-repeat;
			}
		}
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 165px;
			height: 165px;
			bottom: -37px;
    		right: -17px;
			background: url('../img/guarantee/1.png') center / cover no-repeat;
			@media (max-width: $md4+px) {
			 display: none;
			}
		}
		@media (max-width: $md1+px) {
			flex: 1 1 44%;
			flex: 1 1 calc(50% - 30px);
			margin-bottom: 45px;
		}
		@media (max-width: $md2+px) {
			padding: 30px 95px 60px 70px;
		}
		@media (max-width: $md3+px) {
			flex: 1 1 95%;
			flex: 1 1 calc(100% - 30px);
			padding: 30px 145px 60px 70px;
		}
		@media (max-width: $md4+px) {
			padding: 30px 45px 60px 70px;
			margin-bottom: 20px;
		}
		@media (max-width: $md5+px) {
			padding: 28px 34px 22px 25px;
			margin-bottom: 10px;
		}
	}

	&__title {
		color: #ef453f;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.4px;
		margin-bottom: 15px;
		@media (max-width: $md5+px) {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 7px;
		}
	}
	&__descr {
		opacity: 0.9;
		color: #212122;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		@media (max-width: $md5+px) {
			font-size: 12px;
			line-height: 20px;
			width: 90%;
			span {
				
			}
		}
	}
}
