.work {
	padding-top: 86px;
	background-color: #f2f1ff;
	&__wrapper {
	}

	&__title {
		padding-bottom: 57px;
	}

	&__cards-work {
	}
}

.cards-work {

	&__row {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		&_double {
			justify-content: space-between;
			border-bottom: 1px solid rgba(33, 33, 34, 0.5);
			.item-work {
				padding-bottom: 50px;
			}
		}
		&_one{
			.item-work {
				padding-top: 62px;
				&:after{
					left: 0px;
					bottom: auto;
					top: 0px;
				}
			}
		}
	}

	&__item-work {
		flex: 0 1 34%;
		display: flex;
		justify-content: space-between;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 1px;
			height: 30px;
			left: 0px;
			bottom: 0px;
			background-color: #212122;
			opacity: 0.5;
		}
	}
}
.item-work {

	&__wrapper {
		flex: 0 1 65%;
	}

	&__title {
		display: flex;
		margin-bottom: 17px;
		align-items: center;
	}

	&__digit {
		color: #f24841;
		font-size: 24px;
		font-weight: 600;
		line-height: 24px;
		margin-right: 20px;
	}

	&__text {
		color: #212122;
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
	}

	&__descr {
		color: #212122;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}

	&__img {
		display: block;
		flex: 0 1 30%;
		margin-right: 0px;
	}
}
