._btn {
	display: block;
	padding: 18px 50px 21px 50px;
	border-radius: 4px;
	border: 1px solid #ffffff;
	position: relative;
	z-index: 3;
	transition: all 0.1s ease;
	@media (max-width: $md2+px) {
		padding: 14px 40px 14px 40px;
	}
	span {
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		position: relative;
		z-index: 2;
		@media (max-width: $md4+px) {
		 font-size: 16px;
		}
		
		
	}
	&:after{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		border-radius: 4px;
		// background: rgb(179, 9, 3);
		transform: translate(-50%, -50%) scale(1);
		transition: transform .3s ease;
		z-index: 1;
		
	}
	
	@media (min-width: 1200px) {
		&:hover {
			&:after{
				
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
	&_red {
		padding: 21px 80px 27px 60px;
		border: 0;
		background-image: linear-gradient(to right, #f24841 0%, #b30b04 100%);
		box-shadow: 0 30px 90px rgba(163, 11, 6, 0.5);
		position: relative;
		&:before{
			position: absolute;
			content: '';
			top: 15px;
			right: -18px;
			width: 100px;
			height: 91px;
			background: url('../img/header/plane.png') center center/cover no-repeat;
			z-index: 3;
			@media (max-width: $md2+px) {
				top: 15px;
				right: -18px;
				width: 80px;
				height: 71px;
			}
			@media (max-width: $md4+px) {
				top: 35px;
				right: -13px;
				width: 68px;
				height: 61px;
			}
		}
		span {
			&:last-child {
				position: static;
				&:after{
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 4px;
					box-shadow: 0px 3px  #87120d;
				}
			}
		}
		@media (max-width: $md2+px) {
			padding: 14px 60px 20px 40px;
		}
		@media (max-width: $md4+px) {
			padding: 22px 43px 22px 43px;
		}
		@media (max-width: $md5+px) {
			padding: 22px 40px 22px 40px;
		}
		
	}
	&_red-empty{
		border-radius: 4px;
		border: 1px solid #f24841;
		span {
			color: #f24841;
		}
		@media (min-width: 1200px) {
			&:hover {
				border: 1px solid #000;
				box-shadow: 2px 2px 7px  rgba(0, 0, 0, 0.5);
				span{
					color: #000;
				}
			}
			&:active{
				box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
				transform: translate(2px, 2px);
			}
		}
	}
	
}
.btn-no-hl{
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}