.title {
	color: #f24841;
	font-size: 45px;
	font-weight: 700;
	line-height: 75px;
	@media (max-width: $md3+px) {
		font-size: 40px;
	}
	
	@media (max-width: $md4+px) {
		font-size: 35px;
	}
	@media (max-width: $md5+px) {
		font-size: 25px;
		line-height: 65px;
	}
}